@model KeyValuePair<string, string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span>@Model.Key</span><button type="button" onclick="show(); return false;" class="btn btn-sm">show</button>
            <br />
            <br />
            <span style="display:none" id="hiddenContent">@Model.Value</span>
            <br />
            <form action="/learning/">
                <button type="submit">Next</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function show() {
            document.getElementById("hiddenContent").style.cssText = "display:block";
        }
    </script>
</div>
